#http://www.futurile.net/2016/02/03/automating-environment-setup-with-direnv/
dotenv

export PROJNAME="{{ cookiecutter.repo_name }}"

# loads the conda enviroment

source activate $PROJNAME

export PYTHONPATH="$PWD/src":"$PYTHONPATH"
